body {
    font-size: 14.5px;
}

th,
td {
    text-align: center;
}

.blink-text {
    text-decoration: blink;
}

.text-left {
    text-align: left;
}

h4 {
    padding: 20px;
}

h5 {
    padding-left: 20px;
}

.delayed {
    background: #f15860;
}

.warning {
    background: #ffbd2e;
}

.ontime {
    background: #61bc65;
}

p {
    padding-left: 20px;
}